<div class="report-header">
<div class="header-left">
{%- if has_logo %}
<!-- bn-logo -->
<a href="#project" class="report-logo-link" onclick="switchToTab('project');return false;">
{%- if has_transparent_logo %}
<img class="report-logo" src="{{ assets_prefix }}/bristlenose-logo-transparent.png" alt="Bristlenose logo">
{%- elif has_dark_logo %}
<picture>
<source srcset="{{ assets_prefix }}/bristlenose-logo-dark.png" media="(prefers-color-scheme: dark)">
<img class="report-logo" src="{{ assets_prefix }}/bristlenose-logo.png" alt="Bristlenose logo">
</picture>
{%- else %}
<img class="report-logo" src="{{ assets_prefix }}/bristlenose-logo.png" alt="Bristlenose logo">
{%- endif %}
</a>
<!-- /bn-logo -->
{%- endif %}
<span class="header-title"><span class="header-logotype">Bristlenose</span> <span class="header-project">{{ project_name }}</span></span>
</div>
<div class="header-right">
<span class="header-doc-title">{{ doc_title }}</span>
{%- if meta_right %}
{{ meta_right }}
{%- endif %}
</div>
</div>
<hr>
